build/
.cache/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile
*.cmake
*.cmake.in
*.cmake.user
cmake_uninstall.cmake
compile_commands.json

*.cbp
*.layout
*.vcxproj
*.sln
*.suo
*.user
*.vcxproj.filters
*.vcxproj.user
*.ipr
*.iws
*.idea
*.vscode

*.exe
*.dll
*.so
*.dylib
*.a
*.lib

*.o
*.obj
*.elf
*.bin
*.pdb
*.ilk
*.exp
*.map
*.ncb
*.log
*.stackdump

*.swp
*~
*.bak

.DS_Store
Thumbs.db

out/
_build/
